.music__wrap {}
.music__inner {
    width: 450px;
    background: #000;
    position: absolute;
    right: 100px;
    top: 100px;
    padding: 10px;
    padding-top: 0;
}
.music__header {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}
.music__header h2 {
    font-size: 14px;
}
.music__contents {
    background: #c4c4c4;
    width: 100%;
}
.music__view {
    display: flex;
    padding: 20px;
}
.music__view .img {
    width: 30%;
}
.music__view .img img {
    width: 100%;
}
.music__view .title {
    width: 60%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.music__view .title h3 {
    margin-bottom: 5px;
    font-size: 30px;
    line-height: 1.2;
}
.music__view .title p {
    color: #222;
    font-family: 'IMHyemin';
    text-transform: uppercase;
}
.music__control {
    width: 100%;
    height: 100px;
    padding: 20px;
    padding-top: 0;
}
.music__control .progress {
    width: 100%;
    height: 6px;
    background: #000;
    border-radius: 5px;
}
.music__control .progress .bar {
    width: 0%;
    height: inherit;
    background: #7FFF5B;
    border-radius: 5px;
}
.music__control .progress .timer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3px;
}
.music__control .control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}
.music__control .control span {  
    display: inline-block;
    padding: 5px;
    margin: 5px;
    width: 20%;
    text-align: center;
}
.music__control .control span i {
    display: inline-block;
    width: 30px;
    height: 30px;
    /* background-color: #ccc; */
    background-image: url(../img/music_control.svg);
    background-size: 300px;
}
.music__control .control span i.repeat {
    background-position: -150px 0;
}
.music__control .control span i.repeat_one {
    background-position: -180px 0;
}
.music__control .control span i.shuffle {
    background-position: -210px 0;
}
.music__control .control span i.prev {
    background-position: -60px 0;
}
.music__control .control span i.next {
    background-position: -90px 0;
}
.music__control .control span i.play {
    background-position: 0 0;
}
.music__control .control span i.stop {
    background-position: -30px 0;
}
.music__control .control span i.list {
    background-position: -120px 0;
}


.music__footer {
    background: #c4c4c4;
}
.music__list {
    padding: 26px 20px 20px 20px;
    height: 0;
    overflow: hidden;
}
.music__list.show {
    height: 300px;
}
.music__list h3 {
    font-size: 30px;
    border-top: 2px solid #000;
    padding-top: 15px;
    margin-bottom: 15px;
    position: relative;
}
.music__list h3 .list {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(../img/music_control.svg) no-repeat;
    background-size: 300px;
    background-position: -120px 0;
    margin-right: 5px;
    vertical-align: -5px;
}
.music__list h3 .close {
    position: absolute;
    right: 0;
    top: 15px;
    width: 30px;
    height: 30px;
    background: url(../img/music_control.svg) no-repeat;
    background-size: 300px;
    background-position: -240px 0;
}
.music__list ul {
    max-height: 200px;
    overflow-y: scroll;
    -ms-overflow-style: none;
}
.music__list ul::-webkit-scrollbar{
   display:none;
}
.music__list li {
    border-bottom: 1px solid #000;
    list-style: none;
    position: relative;
    padding: 7px 0 5px;
}
.music__list li.playing {
    color: #7FFF5B;
}
.music__list li strong {
    display: block;
    font-size: 20px;
    margin-bottom: 4px;
}
.music__list li em {
    font-style: normal;
}
.music__list li span {
    position: absolute;
    right: 0;
    top: 19px;
}